* text=auto !eol
CoreProc/_start.c -text
CoreProc/async_print.c -text
CoreProc/async_print.h -text
CoreProc/corearray.c -text
CoreProc/corearray.h -text
CoreProc/coreevent.h -text
CoreProc/corelist.c -text
CoreProc/corelist.h -text
CoreProc/csm.c -text
CoreProc/csm.h -text
CoreProc/elf.cbp -text svneol=unset#application/xml
CoreProc/exc_handler.c -text
CoreProc/exc_handler.h -text
CoreProc/exc_vectors.s -text
CoreProc/fs.c -text
CoreProc/fs.h -text
CoreProc/gbs_tweak.c -text
CoreProc/gbs_tweak.h -text
CoreProc/gui.c -text
CoreProc/gui.h -text
CoreProc/helperproc.c -text
CoreProc/helperproc.h -text
CoreProc/io.c -text
CoreProc/io.h -text
CoreProc/ioresctl.c -text
CoreProc/ioresctl.h -text
CoreProc/lcd_primitives.c -text
CoreProc/lcd_primitives.h -text
CoreProc/main.c -text
CoreProc/memctl.c -text
CoreProc/memctl.h -text
CoreProc/mutex.c -text
CoreProc/mutex.h -text
CoreProc/process.c -text
CoreProc/process.h -text
CoreProc/processbridge.c -text
CoreProc/processbridge.h -text
CoreProc/queue.c -text
CoreProc/resctl.c -text
CoreProc/resctl.h -text
CoreProc/socket.c -text
CoreProc/socket.h -text
CoreProc/system.s -text
CoreProc/task.c -text
CoreProc/task.h -text
CoreProc/thread.c -text
CoreProc/thread.h -text
CoreProc/timer.c -text
CoreProc/timer.h -text
CoreProc/waitcondition.c -text
CoreProc/waitcondition.h -text
dietlibc/dlibc.cbp -text svneol=unset#application/xml
dietlibc/main.c -text
dietlibc/src/dietdirent.h -text
dietlibc/src/dietfeatures.h -text
dietlibc/src/dietlocale.h -text
dietlibc/src/dietstdio.h -text
dietlibc/src/dietstring.h -text
dietlibc/src/dietwarning.h -text
dietlibc/src/errlist.S -text
dietlibc/src/lib/__dtostr.c -text
dietlibc/src/lib/__isinf.c -text
dietlibc/src/lib/__lltostr.c -text
dietlibc/src/lib/__ltostr.c -text
dietlibc/src/lib/__v_printf.c -text
dietlibc/src/lib/__v_scanf.c -text
dietlibc/src/lib/assert_fail.c -text
dietlibc/src/lib/atexit.c -text
dietlibc/src/lib/atof.c -text
dietlibc/src/lib/atol.c -text
dietlibc/src/lib/chdir.c -text
dietlibc/src/lib/closedir.c -text
dietlibc/src/lib/errlistu.c -text
dietlibc/src/lib/errno_location.c -text
dietlibc/src/lib/getcwd.c -text
dietlibc/src/lib/getopt.c -text
dietlibc/src/lib/isalnum.c -text
dietlibc/src/lib/isalpha.c -text
dietlibc/src/lib/isascii.c -text
dietlibc/src/lib/isblank.c -text
dietlibc/src/lib/isdigit.c -text
dietlibc/src/lib/isgraph.c -text
dietlibc/src/lib/islower.c -text
dietlibc/src/lib/isprint.c -text
dietlibc/src/lib/ispunct.c -text
dietlibc/src/lib/isspace.c -text
dietlibc/src/lib/isupper.c -text
dietlibc/src/lib/isxdigit.c -text
dietlibc/src/lib/latin1-iscntrl.c -text
dietlibc/src/lib/lseek64.c -text
dietlibc/src/lib/memccpy.c -text
dietlibc/src/lib/memchr.c -text
dietlibc/src/lib/memcmp.c -text
dietlibc/src/lib/memcpy.c -text
dietlibc/src/lib/memmove.c -text
dietlibc/src/lib/memset.c -text
dietlibc/src/lib/opendir.c -text
dietlibc/src/lib/perror.c -text
dietlibc/src/lib/qsort.c -text
dietlibc/src/lib/rand.c -text
dietlibc/src/lib/rand48.c -text
dietlibc/src/lib/rand_r.c -text
dietlibc/src/lib/readdir.c -text
dietlibc/src/lib/remove.c -text
dietlibc/src/lib/rewind.c -text
dietlibc/src/lib/snprintf.c -text
dietlibc/src/lib/sprintf.c -text
dietlibc/src/lib/sscanf.c -text
dietlibc/src/lib/strcasecmp.c -text
dietlibc/src/lib/strcat.c -text
dietlibc/src/lib/strchr.c -text
dietlibc/src/lib/strcmp.c -text
dietlibc/src/lib/strcpy.c -text
dietlibc/src/lib/strcspn.c -text
dietlibc/src/lib/strdup.c -text
dietlibc/src/lib/strerror.c -text
dietlibc/src/lib/strlcat.c -text
dietlibc/src/lib/strlcpy.c -text
dietlibc/src/lib/strlen.c -text
dietlibc/src/lib/strncasecmp.c -text
dietlibc/src/lib/strncat.c -text
dietlibc/src/lib/strncmp.c -text
dietlibc/src/lib/strncpy.c -text
dietlibc/src/lib/strpbrk.c -text
dietlibc/src/lib/strrchr.c -text
dietlibc/src/lib/strsep.c -text
dietlibc/src/lib/strspn.c -text
dietlibc/src/lib/strstr.c -text
dietlibc/src/lib/strtod.c -text
dietlibc/src/lib/strtof.c -text
dietlibc/src/lib/strtok.c -text
dietlibc/src/lib/strtok_r.c -text
dietlibc/src/lib/strtol.c -text
dietlibc/src/lib/strtold.c -text
dietlibc/src/lib/strtoll.c -text
dietlibc/src/lib/strtoul.c -text
dietlibc/src/lib/strtoull.c -text
dietlibc/src/lib/strxfrm.c -text
dietlibc/src/lib/swab.c -text
dietlibc/src/lib/tolower.c -text
dietlibc/src/lib/toupper.c -text
dietlibc/src/lib/uname.c -text
dietlibc/src/lib/vsnprintf.c -text
dietlibc/src/lib/vsprintf.c -text
dietlibc/src/lib/vsscanf.c -text
dietlibc/src/libc.c -text
dietlibc/src/libcompat/mempcpy.c -text
dietlibc/src/libcompat/stpcpy.c -text
dietlibc/src/libcompat/stpncpy.c -text
dietlibc/src/libcompat/strnlen.c -text
dietlibc/src/libcompat/toascii.c -text
dietlibc/src/libcruft/bindtextdomain.c -text
dietlibc/src/libcruft/dcgettext.c -text
dietlibc/src/libcruft/getopt_data.c -text
dietlibc/src/libcruft/inet_ntoa.c -text
dietlibc/src/libcruft/inet_ntoa_r.c -text
dietlibc/src/libcruft/lc_ctype.c -text
dietlibc/src/libcruft/localeconv.c -text
dietlibc/src/libcruft/mkstemp.c -text
dietlibc/src/libcruft/mktemp.c -text
dietlibc/src/libcruft/nl_langinfo.c -text
dietlibc/src/libcruft/setlocale.c -text
dietlibc/src/libcruft/textdomain.c -text
dietlibc/src/libcruft/tmpnam.c -text
dietlibc/src/libdl/dlclose.c -text
dietlibc/src/libdl/dlerror.c -text
dietlibc/src/libdl/dlopen.c -text
dietlibc/src/libdl/dlsym.c -text
dietlibc/src/libshell/fnmatch.c -text
dietlibc/src/libstdio/clearerr.c -text
dietlibc/src/libstdio/fclose.c -text
dietlibc/src/libstdio/fdglue.c -text
dietlibc/src/libstdio/fdglue2.c -text
dietlibc/src/libstdio/fdopen.c -text
dietlibc/src/libstdio/fdprintf.c -text
dietlibc/src/libstdio/feof.c -text
dietlibc/src/libstdio/ferror.c -text
dietlibc/src/libstdio/fflush.c -text
dietlibc/src/libstdio/fgetc_unlocked.c -text
dietlibc/src/libstdio/fgetpos.c -text
dietlibc/src/libstdio/fgets.c -text
dietlibc/src/libstdio/fileno.c -text
dietlibc/src/libstdio/fopen.c -text
dietlibc/src/libstdio/fprintf.c -text
dietlibc/src/libstdio/fputc_unlocked.c -text
dietlibc/src/libstdio/fputs.c -text
dietlibc/src/libstdio/fread.c -text
dietlibc/src/libstdio/freopen.c -text
dietlibc/src/libstdio/fscanf.c -text
dietlibc/src/libstdio/fseek.c -text
dietlibc/src/libstdio/fseeko.c -text
dietlibc/src/libstdio/fseeko64.c -text
dietlibc/src/libstdio/fsetopen.c -text
dietlibc/src/libstdio/fsetpos.c -text
dietlibc/src/libstdio/ftell.c -text
dietlibc/src/libstdio/ftello.c -text
dietlibc/src/libstdio/ftello64.c -text
dietlibc/src/libstdio/fwrite.c -text
dietlibc/src/libstdio/printf.c -text
dietlibc/src/libstdio/putchar.c -text
dietlibc/src/libstdio/puts.c -text
dietlibc/src/libstdio/scanf.c -text
dietlibc/src/libstdio/setvbuf.c -text
dietlibc/src/libstdio/stderr.c -text
dietlibc/src/libstdio/stdin.c -text
dietlibc/src/libstdio/stdout.c -text
dietlibc/src/libstdio/tmpfile.c -text
dietlibc/src/libstdio/ungetc.c -text
dietlibc/src/libstdio/vfdprintf.c -text
dietlibc/src/libstdio/vfprintf.c -text
dietlibc/src/libstdio/vfscanf.c -text
dietlibc/src/libstdio/vprintf.c -text
dietlibc/src/libstdio/vscanf.c -text
dietlibc/src/libugly/asctime.c -text
dietlibc/src/libugly/difftime.c -text
dietlibc/src/libugly/grantpt.c -text
dietlibc/src/libugly/isleap.c -text
dietlibc/src/libugly/localtime.c -text
dietlibc/src/libugly/private.h -text
dietlibc/src/libugly/strftime.c -text
dietlibc/src/libugly/strndup.c -text
dietlibc/src/libugly/strptime.c -text
dietlibc/src/libugly/time64.c -text
dietlibc/src/libugly/time64.h -text
dietlibc/src/libugly/time64_config.h -text
dietlibc/src/libugly/tzfile.h -text
dietlibc/src/stubs/chdir.c -text
dietlibc/src/stubs/chmod.c -text
dietlibc/src/stubs/chroot.c -text
dietlibc/src/stubs/dup.c -text
dietlibc/src/stubs/dup2.c -text
dietlibc/src/stubs/env.c -text
dietlibc/src/stubs/fchdir.c -text
dietlibc/src/stubs/fchown.c -text
dietlibc/src/stubs/fstat64.c -text
dietlibc/src/stubs/ftruncate64.c -text
dietlibc/src/stubs/getgrnam.c -text
dietlibc/src/stubs/getopt.c -text
dietlibc/src/stubs/getpid.c -text
dietlibc/src/stubs/getpwuid.c -text
dietlibc/src/stubs/lstat64.c -text
dietlibc/src/stubs/open64.c -text
dietlibc/src/stubs/pclose.c -text
dietlibc/src/stubs/popen.c -text
dietlibc/src/stubs/ptsname.c -text
dietlibc/src/stubs/readdir64.c -text
dietlibc/src/stubs/readlink.c -text
dietlibc/src/stubs/signal.c -text
dietlibc/src/stubs/symlink.c -text
dietlibc/src/stubs/umask.c -text
dietlibc/src/stubs/unlockpt.c -text
dietlibc/src/stubs/utime.c -text
dietlibc/src/syscall/README -text
dietlibc/src/syscall/__clear_cache.c -text
dietlibc/src/syscall/access.c -text
dietlibc/src/syscall/calloc.c -text
dietlibc/src/syscall/clock.c -text
dietlibc/src/syscall/environment.c -text
dietlibc/src/syscall/free.c -text
dietlibc/src/syscall/fstat.c -text
dietlibc/src/syscall/ftruncate.c -text
dietlibc/src/syscall/gettimeofday.c -text
dietlibc/src/syscall/isatty.c -text
dietlibc/src/syscall/jmp.c -text
dietlibc/src/syscall/malloc.c -text
dietlibc/src/syscall/mkdir.c -text
dietlibc/src/syscall/mmap.c -text
dietlibc/src/syscall/munmap.c -text
dietlibc/src/syscall/realloc.c -text
dietlibc/src/syscall/rename.c -text
dietlibc/src/syscall/rmdir.c -text
dietlibc/src/syscall/time.c -text
dietlibc/src/syscall/unlink.c -text
dietlibc/src/wchar/mbrtowc.c -text
dietlibc/src/wchar/mbsrtowcs.c -text
dietlibc/src/wchar/mbstowcs.c -text
dietlibc/src/wchar/wchar.c -text
dietlibc/src/wchar/wcscat.c -text
dietlibc/src/wchar/wcschr.c -text
dietlibc/src/wchar/wcscmp.c -text
dietlibc/src/wchar/wcscpy.c -text
dietlibc/src/wchar/wcslen.c -text
dietlibc/src/wchar/wcsncat.c -text
dietlibc/src/wchar/wcsncmp.c -text
dietlibc/src/wchar/wcsncpy.c -text
dietlibc/src/wchar/wcspbrk.c -text
dietlibc/src/wchar/wcsrchr.c -text
dietlibc/src/wchar/wcsstr.c -text
include/spl/async_print.h -text
include/spl/corearray.h -text
include/spl/coreevent.h -text
include/spl/corelist.h -text
include/spl/csm.h -text
include/spl/exc_handler.h -text
include/spl/fs.h -text
include/spl/gbs_tweak.h -text
include/spl/gui.h -text
include/spl/io.h -text
include/spl/ioresctl.h -text
include/spl/lcd_primitives.h -text
include/spl/memctl.h -text
include/spl/mutex.h -text
include/spl/process.h -text
include/spl/processbridge.h -text
include/spl/queue.h -text
include/spl/resctl.h -text
include/spl/socket.h -text
include/spl/task.h -text
include/spl/thread.h -text
include/spl/timer.h -text
include/spl/waitcondition.h -text
libnucrt/__cxa_atexit.cpp -text
libnucrt/crt_helper/__cxa_atexit.cpp -text
libnucrt/crt_helper/crt_helper.cbp -text svneol=unset#application/xml
libnucrt/crt_helper/dump.S -text
libnucrt/crt_helper/main.c -text
libnucrt/crt_helper/switab.c -text
libnucrt/libcrt.cbp -text svneol=unset#application/xml
libnucrt/main.c -text
tests/RadioSI/audio.c -text
tests/RadioSI/audio.h -text
tests/RadioSI/audio_control.c -text
tests/RadioSI/audio_control.h -text
tests/RadioSI/conf_loader.c -text
tests/RadioSI/config_data.c -text
tests/RadioSI/decoder.c -text
tests/RadioSI/decoder.h -text
tests/RadioSI/elf.cbp -text svneol=unset#application/xml
tests/RadioSI/faad/config.h -text
tests/RadioSI/faad/src/Makefile.am -text
tests/RadioSI/faad/src/Makefile.in -text
tests/RadioSI/faad/src/analysis.h -text
tests/RadioSI/faad/src/bits.c -text
tests/RadioSI/faad/src/bits.h -text
tests/RadioSI/faad/src/cfft.c -text
tests/RadioSI/faad/src/cfft.h -text
tests/RadioSI/faad/src/cfft_tab.h -text
tests/RadioSI/faad/src/codebook/hcb.h -text
tests/RadioSI/faad/src/codebook/hcb_1.h -text
tests/RadioSI/faad/src/codebook/hcb_10.h -text
tests/RadioSI/faad/src/codebook/hcb_11.h -text
tests/RadioSI/faad/src/codebook/hcb_2.h -text
tests/RadioSI/faad/src/codebook/hcb_3.h -text
tests/RadioSI/faad/src/codebook/hcb_4.h -text
tests/RadioSI/faad/src/codebook/hcb_5.h -text
tests/RadioSI/faad/src/codebook/hcb_6.h -text
tests/RadioSI/faad/src/codebook/hcb_7.h -text
tests/RadioSI/faad/src/codebook/hcb_8.h -text
tests/RadioSI/faad/src/codebook/hcb_9.h -text
tests/RadioSI/faad/src/codebook/hcb_sf.h -text
tests/RadioSI/faad/src/common.c -text
tests/RadioSI/faad/src/common.h -text
tests/RadioSI/faad/src/decoder.c -text
tests/RadioSI/faad/src/drc.c -text
tests/RadioSI/faad/src/drc.h -text
tests/RadioSI/faad/src/drm_dec.c -text
tests/RadioSI/faad/src/drm_dec.h -text
tests/RadioSI/faad/src/error.c -text
tests/RadioSI/faad/src/error.h -text
tests/RadioSI/faad/src/filtbank.c -text
tests/RadioSI/faad/src/filtbank.h -text
tests/RadioSI/faad/src/fixed.h -text
tests/RadioSI/faad/src/hcr.c -text
tests/RadioSI/faad/src/huffman.c -text
tests/RadioSI/faad/src/huffman.h -text
tests/RadioSI/faad/src/ic_predict.c -text
tests/RadioSI/faad/src/ic_predict.h -text
tests/RadioSI/faad/src/iq_table.h -text
tests/RadioSI/faad/src/is.c -text
tests/RadioSI/faad/src/is.h -text
tests/RadioSI/faad/src/kbd_win.h -text
tests/RadioSI/faad/src/libfaad2.def -text
tests/RadioSI/faad/src/lt_predict.c -text
tests/RadioSI/faad/src/lt_predict.h -text
tests/RadioSI/faad/src/mdct.c -text
tests/RadioSI/faad/src/mdct.h -text
tests/RadioSI/faad/src/mdct_tab.h -text
tests/RadioSI/faad/src/mp4.c -text
tests/RadioSI/faad/src/mp4.h -text
tests/RadioSI/faad/src/ms.c -text
tests/RadioSI/faad/src/ms.h -text
tests/RadioSI/faad/src/output.c -text
tests/RadioSI/faad/src/output.h -text
tests/RadioSI/faad/src/pns.c -text
tests/RadioSI/faad/src/pns.h -text
tests/RadioSI/faad/src/ps_dec.c -text
tests/RadioSI/faad/src/ps_dec.h -text
tests/RadioSI/faad/src/ps_syntax.c -text
tests/RadioSI/faad/src/ps_tables.h -text
tests/RadioSI/faad/src/pulse.c -text
tests/RadioSI/faad/src/pulse.h -text
tests/RadioSI/faad/src/rvlc.c -text
tests/RadioSI/faad/src/rvlc.h -text
tests/RadioSI/faad/src/sbr_dct.c -text
tests/RadioSI/faad/src/sbr_dct.h -text
tests/RadioSI/faad/src/sbr_dec.c -text
tests/RadioSI/faad/src/sbr_dec.h -text
tests/RadioSI/faad/src/sbr_e_nf.c -text
tests/RadioSI/faad/src/sbr_e_nf.h -text
tests/RadioSI/faad/src/sbr_fbt.c -text
tests/RadioSI/faad/src/sbr_fbt.h -text
tests/RadioSI/faad/src/sbr_hfadj.c -text
tests/RadioSI/faad/src/sbr_hfadj.h -text
tests/RadioSI/faad/src/sbr_hfgen.c -text
tests/RadioSI/faad/src/sbr_hfgen.h -text
tests/RadioSI/faad/src/sbr_huff.c -text
tests/RadioSI/faad/src/sbr_huff.h -text
tests/RadioSI/faad/src/sbr_noise.h -text
tests/RadioSI/faad/src/sbr_qmf.c -text
tests/RadioSI/faad/src/sbr_qmf.h -text
tests/RadioSI/faad/src/sbr_qmf_c.h -text
tests/RadioSI/faad/src/sbr_syntax.c -text
tests/RadioSI/faad/src/sbr_syntax.h -text
tests/RadioSI/faad/src/sbr_tf_grid.c -text
tests/RadioSI/faad/src/sbr_tf_grid.h -text
tests/RadioSI/faad/src/sine_win.h -text
tests/RadioSI/faad/src/specrec.c -text
tests/RadioSI/faad/src/specrec.h -text
tests/RadioSI/faad/src/ssr.c -text
tests/RadioSI/faad/src/ssr.h -text
tests/RadioSI/faad/src/ssr_fb.c -text
tests/RadioSI/faad/src/ssr_fb.h -text
tests/RadioSI/faad/src/ssr_ipqf.c -text
tests/RadioSI/faad/src/ssr_ipqf.h -text
tests/RadioSI/faad/src/ssr_win.h -text
tests/RadioSI/faad/src/structs.h -text
tests/RadioSI/faad/src/syntax.c -text
tests/RadioSI/faad/src/syntax.h -text
tests/RadioSI/faad/src/tns.c -text
tests/RadioSI/faad/src/tns.h -text
tests/RadioSI/main.c -text
tests/RadioSI/socket.c -text
tests/RadioSI/socket.h -text
tests/RadioSI/stream.c -text
tests/RadioSI/stream.h -text
tests/csm/elf.cbp -text svneol=unset#application/xml
tests/csm/main.c -text
tests/gui/elf.cbp -text svneol=unset#application/xml
tests/gui/main.c -text
tests/layer_tests/bcopy64.S -text
tests/layer_tests/elf.cbp -text svneol=unset#application/xml
tests/layer_tests/main.c -text
tests/layer_tests/memset64.S -text
tests/layer_tests/text.c -text
tests/mutexes-stress-test/elf.cbp -text svneol=unset#application/xml
tests/mutexes-stress-test/main.c -text
tests/mutexes/elf.cbp -text svneol=unset#application/xml
tests/mutexes/main.c -text
tests/proc/elf.cbp -text svneol=unset#application/xml
tests/proc/main.c -text
tests/socket-stress-test/elf.cbp -text svneol=unset#application/xml
tests/socket-stress-test/main.c -text
tests/socket/elf.cbp -text svneol=unset#application/xml
tests/socket/main.c -text
tests/thread/elf.cbp -text svneol=unset#application/xml
tests/thread/main.c -text
tests/timer/elf.cbp -text svneol=unset#application/xml
tests/timer/main.c -text
tests/vibra/elf.cbp -text svneol=unset#application/xml
tests/vibra/main.c -text
